body{
    background-color:rgb(68, 68, 68) ;
    text-align: center;
    
}

h1{
    color:rgb(100, 100, 245);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}
p>em{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(146, 146, 7);
    font-style: italic;  
    font-weight: lighter;
   
     
}

h2{
    color:rgb(100, 100, 245);
    font-size:3ch;
}

li{
    font-weight:bold;
}

a{
    color:red;
}
ul,ol{
    text-align: left;
    margin-left:40%
}

div{
    text-align: center;
    align-items: center;
    align-content: center;
}
ol{
    display: flex;
    flex-direction: column-reverse;
}

a:link{text-decoration: none;}
  
  
  a:hover {
    text-decoration: underline;
    color: blue;
  }
  h5::first-letter {
    float: center;
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
    text-shadow: 2px 2px 6px #000;
    margin: -0.07em 0.1em -0.1em 0;
}

h2::first-letter{
    float: center;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1;
    text-shadow: 2px 2px 6px #000;
    margin: -0.07em 0.1em -0.1em 0;
}
 
 



