body{
    display: grid;
    grid-template-areas: "h h h"
                         "m m m"
                         "c1 c2 c3"
                          "f f  f";
}

h1{
    display: grid;
    grid-area: h;
    justify-content: center;
    background-color: rgb(111, 184, 218);
    margin:0;
    height:50px;
    padding:30px;
}
.container{
    display: grid;
    grid-area: m;
    background-color: #2f4f4f;
    margin-left: 0px;
    justify-content: left;
    padding-top: 0px;
}

ul{

    margin-left: 0;
    padding-left: 20px;
    padding-top:0px;
    
    margin:0px;
} 

li{
   display: inline-block;
   list-style-type: none;
   color:white;
   font-size: 20px;
   margin-right: 30px;
   border-right:2px black solid;
   padding-top:20px;
   padding-bottom: 20px;
   padding-right:20px;
}

#column1{
    display:grid;
    justify-content: center;
    grid-area: c1;
    margin:0;
    background-color: grey;
    
}

#column2{
    display:grid;
    flex-wrap: wrap;
    grid-area: c2;
    height:300px;
    margin:0;
    justify-content: center;
    background-color: rgb(145, 145, 145);
    
}
#column3{
    display:grid;
    
    justify-content: center;
    grid-area: c3;
    margin:0;
    background-color: grey;
}

footer{
    grid-area: f;
    justify-content: center;
    margin:0;
    display: grid;
    background-color: #2f4f4f;
    justify-content: center;
    color:white;
    height:60px;
    padding-top:40px;
}

/* @media screen and(max-width:600px){
   
    #c3{
        flex-wrap: wrap !important;
    }
} */
